.__card-main,
.__health-status,
.__add-diagnosis-before,
.__add-diagnosis-after {
  mat-form-field {
    &.__chips-disabled {
      .mat-form-field-underline {
        background-color: transparent;
        background-image: linear-gradient(to right, rgba(0, 0, 0, .42) 0%, rgba(0, 0, 0, .42) 33%, transparent 0%);
        background-size: 4px 100%;
        background-repeat: repeat-x;
      }
    }

    .mat-select,
    .mat-input-element {
      height: auto !important;
    }

    &.card-main__location-place,
    &.card-main__location-date {
      width: 50% !important;

      @media (max-width: 992px) {
        width: 100% !important;
      }
    }

    &.health-status__disability-type,
    &.health-status__disability-first-date,
    &.health-status__disability-last-date {
      width: 33% !important;

      @media (max-width: 992px) {
        width: 100% !important;
      }

      input {
        height: auto !important;
      }
    }

    &.health-status__disability-type,
    &.health-status__disability-first-date {
      margin-right: 20px;
    }

    &.health-status__health-group {
      width: 150px !important;

      @media (max-width: 992px) {
        width: 100% !important;
      }
    }

    &.card-main__location-date {
      margin-top: 1px;
      margin-left: 23px;

      @media (max-width: 992px) {
        margin-left: 0;
      }
    }

    &.add-diagnosis__diagnosis-name,
    &.add-diagnosis-after__diagnosis-name {
      height: auto;
    }

    .mat-form-field-label {
      font-size: 15px !important;
      color: #808080;
    }

  .mat-placeholder-required {
    color: #F44336
  }

    &.mat-form-field-invalid {
      .mat-form-field-label {
        color: #F44336;
      }
    }
  }
}

.add-diagnosis__treatment,
.add-diagnosis-after__additional,
.add-diagnosis__skl,
.add-diagnosis-after__treatment,
.add-diagnosis-after__skl {
  &-item {
    &:first-child {
      margin-right: 20px;
    }
  }
}

.export-card__form {
  width: 100%;
  margin-top: 10px;
  padding: 0 15px;

  .mat-select-value {
    font-size: 16px;
  }
}
