.mat-snack-bar-container {
  background-color: #1b9881;

  span {
    text-transform: uppercase;
    color: #ffffff;
  }

  .mat-simple-snackbar-action {

    span {
      color: #000000;
    }
  }
}
