.mat-snack-bar-handset {
  width: auto !important;
}

.mat-snack-bar-container {
  max-width: 33vw !important;
  min-width: 344px !important;
  background-color: #1b9881;

  span {
    text-transform: uppercase;
    color: #ffffff;
  }

  .mat-simple-snackbar-action {

    span {
      color: #000000;
    }
  }
}
