<div class="z-depth-2 col s9 vmp_content" style="padding:0">
  <ul materialize="Tabs" class="tabs tabs-fixed-width tab-demo z-depth-1 green-text" style="margin-bottom: 20px">
    <li class="tab"><a class="active" href="#0_etap">Талон на ВМП</a></li>
    <li class="tab"><a href="#1_etap">1 этап</a></li>
    <li class="tab"><a href="#2_etap">2 этап</a></li>
    <li class="tab"><a href="#3_etap">3 этап</a></li>
    <li class="tab"><a href="#4_etap">4 этап</a></li>
    <li class="tab"><a href="#5_etap">5 этап</a></li>
    <li class="tab"><a href="#6_etap">6 этап</a></li>
  </ul>

  <div id="0_etap" class="col s12">
    <app-stage0></app-stage0>
  </div>

  <div id="1_etap" class="col s12">
    <app-stage1></app-stage1>
  </div>

  <div id="2_etap" class="col s12">
    <app-stage2></app-stage2>
  </div>

  <div id="3_etap" class="col s12">
    <app-stage3></app-stage3>
  </div>

  <div id="4_etap" class="col s12">
    <app-stage4></app-stage4>
  </div>

  <div id="5_etap" class="col s12">
    <app-stage5></app-stage5>
  </div>

  <div id="6_etap" class="col s12">
    <app-stage6></app-stage6>
  </div>

</div>
