<form class="assessment__form-wrapper" [formGroup]="devAssessmentForm" (ngSubmit)="onSubmit(devAssessmentForm.value)">
  <div class="assessment__section assessment__no-border-top" formGroupName="physicalDevKidForm">
    <p class="assessment__title">Оценка физического развития для детей 0-4 лет</p>
    <div class="assessment__field-block">
      <mat-form-field floatLabel="auto" class="assessment__input-field">
        <input matInput class="assessment__input" placeholder="Вес, кг" formControlName="weight" required>
        <mat-error *ngIf="cardThirteenYService.getControls(devAssessmentForm,'physicalDevKidForm').weight.invalid"
          class="assessment__helper-text">
          Укажите вес
        </mat-error>
      </mat-form-field>
      <mat-form-field floatLabel="auto" class="assessment__input-field">
        <input matInput class="assessment__input" placeholder="Рост, см" formControlName="height" required>
        <mat-error *ngIf="cardThirteenYService.getControls(devAssessmentForm, 'physicalDevKidForm').height.invalid"
          class="assessment__helper-text">
          Укажите рост
        </mat-error>
      </mat-form-field>
      <mat-form-field floatLabel="auto" class="assessment__input-field">
        <input matInput class="assessment__input" placeholder="Окружность головы, см" formControlName="head" required>
        <mat-error *ngIf="cardThirteenYService.getControls(devAssessmentForm, 'physicalDevKidForm').head.invalid"
          class="assessment__helper-text">
          Укажите длинну окружности
        </mat-error>
      </mat-form-field>
    </div>
  </div>

  <div class="assessment__section" formGroupName="devDisordersKidForm">
    <p class="assessment__title">Нарушения в развитии</p>
    <div class="assessment__field-block">
      <div class="assessment__columns">
        <div class="assessment__column">
          <p class="development-disruption__label">Вес</p>
          <mat-checkbox class="assessment__checkbox" formControlName="thin"
            (change)="handlerWeightKid('thin', $event.checked)"
            [value]="devDisordersKid[0]?.id">
            {{devDisordersKid[0]?.name }}
          </mat-checkbox>
          <mat-checkbox class="assessment__checkbox" formControlName="obese"
            (change)="handlerWeightKid('obese', $event.checked)"
            [value]="devDisordersKid[1]?.id">
            {{devDisordersKid[1]?.name }}
          </mat-checkbox>
        </div>
        <div class="assessment__column">
          <p class="development-disruption__label">Рост</p>
          <mat-checkbox class="assessment__checkbox" formControlName="short"
            (change)="handlerHeightKid('short', $event.checked)"
            [value]="devDisordersKid[2]?.id">
            {{devDisordersKid[2]?.name }}
          </mat-checkbox>
          <mat-checkbox class="assessment__checkbox" formControlName="tall"
            (change)="handlerHeightKid('tall', $event.checked)"
            [value]="devDisordersKid[3]?.id">
            {{devDisordersKid[3]?.name }}
          </mat-checkbox>
        </div>
      </div>
    </div>
  </div>

  <div class="assessment__section" formGroupName="psychoDevKidForm">
    <p class="assessment__title">
      Оценка психологического развития для детей 0-4 лет
    </p>
    <div class="assessment__field-block">
      <div class="assessment__psycho-dev-kid">
        <div class="psycho-dev-kid__row">
          <mat-form-field floatLabel="auto" class="assessment__input-field">
            <input matInput placeholder="Познавательная функция (возраст развития)" formControlName="cognitiveFunc"
              class="assessment__input" required>
          </mat-form-field>
        </div>
        <div class="psycho-dev-kid__row">
          <mat-form-field floatLabel="auto" class="assessment__input-field">
            <input matInput formControlName="motorFunc" placeholder="Моторная функция (возраст развития)"
              class="assessment__input" required>
          </mat-form-field>
        </div>
        <div class="psycho-dev-kid__row">
          <mat-form-field floatLabel="auto" class="assessment__input-field">
            <input matInput formControlName="socialFunc"
              placeholder="Эмоциональная и социальная (контакт с окружающим миром) функции (возраст развития)"
              class="assessment__input" required>
          </mat-form-field>
        </div>
        <div class="psycho-dev-kid__row">
          <mat-form-field floatLabel="auto" class="assessment__input-field">
            <input matInput formControlName="speechFunc" placeholder="Предречевое и речевое развитие (возраст развития)"
              class="assessment__input" required>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>

  <div class="assessment__section" formGroupName="physicalDevTeenForm">
    <p class="assessment__title">
      Оценка физического развития для детей 5-17 лет
    </p>
    <div class="assessment__field-block">
      <mat-form-field floatLabel="auto" class="assessment__input-field">
        <input matInput class="assessment__input" placeholder="Вес, кг" formControlName="weight" required>
        <mat-error *ngIf="cardThirteenYService.getControls(devAssessmentForm,'physicalDevKidForm').weight.invalid"
          class="assessment__helper-text">Укажите вес
        </mat-error>
      </mat-form-field>
      <mat-form-field floatLabel="auto" class="assessment__input-field">
        <input matInput class="assessment__input" placeholder="Рост, см" formControlName="height" required>
        <mat-error *ngIf="cardThirteenYService.getControls(devAssessmentForm, 'physicalDevKidForm').height.invalid"
          class="assessment__helper-text">Укажите рост
        </mat-error>
      </mat-form-field>
    </div>
  </div>

  <div class="assessment__section" formGroupName="devDisordersTeenForm">
    <p class="assessment__title">
      Нарушения в развитии
    </p>
    <div class="assessment__field-block">
      <div class="assessment__columns">
        <div class="assessment__column">
          <p class="development-disruption__label">Вес</p>
          <mat-checkbox class="assessment__checkbox" formControlName="thin"
            (change)="handlerWeightTeen('thin', $event.checked)"
            [value]="devDisordersTeen[0]?.id">
            {{ devDisordersTeen[0]?.name }}
          </mat-checkbox>
          <mat-checkbox class="assessment__checkbox" formControlName="obese"
            (change)="handlerWeightTeen('obese', $event.checked)"
            [value]="devDisordersTeen[1]?.id">
            {{ devDisordersTeen[1]?.name }}
          </mat-checkbox>
        </div>
        <div class="assessment__column">
          <p class="development-disruption__label">Рост</p>
          <mat-checkbox class="assessment__checkbox" formControlName="short"
            (change)="handlerHeightTeen('short', $event.checked)"
            [value]="devDisordersTeen[2]?.id">
            {{ devDisordersTeen[2]?.name }}
          </mat-checkbox>
          <mat-checkbox class="assessment__checkbox" formControlName="tall"
            (change)="handlerHeightTeen('tall', $event.checked)"
            [value]="devDisordersTeen[3]?.id">
            {{ devDisordersTeen[3]?.name }}
          </mat-checkbox>
        </div>
      </div>
    </div>
  </div>

  <div class="assessment__section" formGroupName="psychoDevTeenForm">
    <p class="assessment__title">
      Оценка психологического развития для детей 5-17 лет
    </p>
    <div class="assessment__field-block">
      <div class="assessment__psycho-dev-teen">
        <div class="psycho-dev-kid__row">
          <p class="psycho-dev-kid__label">Психомоторная сфера <span class="required-symbol">*</span></p>
          <mat-radio-group class="assessment__psycho-radio-group" formControlName="psychoMotorSphere">
            <mat-radio-button *ngFor="let item of psychoValue" [value]="item.id" class="assessment__radio-btn">
              {{item.label}}
            </mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="psycho-dev-kid__row">
          <p class="psycho-dev-kid__label">Интеллект <span class="required-symbol">*</span></p>
          <mat-radio-group class="assessment__psycho-radio-group" formControlName="intelligence">
            <mat-radio-button *ngFor="let item of psychoValue" [value]="item.id" class="assessment__radio-btn">
              {{item.label}}
            </mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="psycho-dev-kid__row">
          <p class="psycho-dev-kid__label">Эмоционально вегеативная сфера <span class="required-symbol">*</span></p>
          <mat-radio-group class="assessment__psycho-radio-group" formControlName="emotionallySphere">
            <mat-radio-button *ngFor="let item of psychoValue" [value]="item.id" class="assessment__radio-btn">
              {{item.label}}
            </mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
    </div>
  </div>

  <div class="assessment__section" formGroupName="sexualDevBoyForm">
    <p class="assessment__title">
      Оценка полового развития с 10 лет
    </p>
    <div>
      <div class="gender-select-block">
        <div class="gender-label">
          <p>Половая формула мальчиков <span class="required-symbol">*</span></p>
        </div>
        <mat-form-field floatLabel="auto" class="gender__input-field">
          <mat-label id="p-label">P</mat-label>
          <mat-select formControlName="p" aria-labelledby="p-label">
            <mat-option *ngFor="let value of genderSelect" [value]="value.value">
              {{value.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field floatLabel="auto" class="gender__input-field">
          <mat-label id="ax-label">Ax</mat-label>
          <mat-select formControlName="ax" aria-labelledby="ax-label">
            <mat-option *ngFor="let value of genderSelect" [value]="value.value">
              {{value.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field floatLabel="auto" class="gender__input-field">
          <mat-label id="fa-label">Fa</mat-label>
          <mat-select formControlName="fa" aria-labelledby="fa-label">
            <mat-option *ngFor="let value of genderSelect" [value]="value.value">
              {{value.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="assessment__section" formGroupName="sexualDevGirlForm">
    <p class="assessment__title">
      Оценка полового развития с 10 лет
    </p>
    <div class="assessment__gender-block">
      <div class="gender-select-block">
        <div class="gender-label">
          <p>
            Половая формула девочек
            <span class="required-symbol">*</span>
          </p>
        </div>
        <mat-form-field floatLabel="auto" class="gender__input-field">
          <mat-label id="p-label-girl">P</mat-label>
          <mat-select formControlName="p" aria-labelledby="p-label-girl">
            <mat-option *ngFor="let value of genderSelect" [value]="value.value">
              {{value.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field floatLabel="auto" class="gender__input-field">
          <mat-label id="ax-label-girl">Ax</mat-label>
          <mat-select formControlName="ax" aria-labelledby="ax-label-girl">
            <mat-option *ngFor="let value of genderSelect" [value]="value.value">
              {{value.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field floatLabel="auto" class="gender__input-field">
          <mat-label id="ma-label">Ma</mat-label>
          <mat-select formControlName="ma" aria-labelledby="ma-label">
            <mat-option *ngFor="let value of genderSelect" [value]="value.value">
              {{value.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field floatLabel="auto" class="gender__input-field">
          <mat-label id="me-label">Me</mat-label>
          <mat-select formControlName="me" aria-labelledby="me-label">
            <mat-option *ngFor="let value of genderSelect" [value]="value.value">
              {{value.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="assessment__gender">
        <p class="gender-label">
          Менструальная функция
        </p>
        <mat-checkbox #menstrualFunc
                      class="assessment__checkbox"
                      formControlName="menstrualFunc"
                      (change)="isDisabled($event.checked)">
          Отсутствует
        </mat-checkbox>
      </div>
      <div class="assessment__gender">
        <div class="gender-label">
          <p>
            Менархе
          </p>
        </div>
        <div class="assessment__input-fields">
          <mat-form-field class="assessment__input-field">
            <input matInput
                   class="assessment__input"
                   formControlName="year"
                   required="menstrualFunc.checked">
          </mat-form-field>
          <p class="fields__label">лет</p>
          <mat-form-field class="assessment__input-field">
            <input matInput
                   class="assessment__input"
                   formControlName="month"
                   required="menstrualFunc.checked">
          </mat-form-field>
          <p class="fields__label">месяцев</p>
        </div>
      </div>
    </div>
  </div>

  <div class="assessment__section" formGroupName="characteristicMenstrualFuncForm">
    <p class="assessment__title">
      Характеристика
    </p>
    <div class="assessment__field-block">
      <div class="assessment__columns">
        <div class="assessment__column">
          <p class="characteristic__label">Регулярность</p>
          <mat-checkbox class="assessment__checkbox" formControlName="regular"
            (change)="handlerRegularity('regular', $event.checked)"
            [value]="characteristicMenstrualFunc[0]?.id">
            {{characteristicMenstrualFunc[0]?.name }}
          </mat-checkbox>
          <mat-checkbox class="assessment__checkbox" formControlName="notRegular"
            (change)="handlerRegularity('notRegular', $event.checked)"
            [value]="characteristicMenstrualFunc[1]?.id">
            {{characteristicMenstrualFunc[1]?.name }}
          </mat-checkbox>
        </div>
        <div class="assessment__column">
          <p class="characteristic__label">Обильность</p>
          <mat-checkbox class="assessment__checkbox" formControlName="plentiful"
            (change)=" handlerProfusion('plentiful', $event.checked)"
            [value]="characteristicMenstrualFunc[2]?.id">
            {{characteristicMenstrualFunc[2]?.name }}
          </mat-checkbox>
          <mat-checkbox class="assessment__checkbox" formControlName="moderate"
            (change)=" handlerProfusion('moderate', $event.checked)"
            [value]="characteristicMenstrualFunc[3]?.id">
            {{characteristicMenstrualFunc[3]?.name }}
          </mat-checkbox>
          <mat-checkbox class="assessment__checkbox" formControlName="scarce"
            (change)=" handlerProfusion('scarce', $event.checked)"
            [value]="characteristicMenstrualFunc[4]?.id">
            {{characteristicMenstrualFunc[4]?.name }}
          </mat-checkbox>
        </div>
        <div class="assessment__column">
          <p class="characteristic__label">Болезненность</p>
          <mat-checkbox class="assessment__checkbox" formControlName="painful"
            (change)="handlerSoreness('painful', $event.checked)"
            [value]="characteristicMenstrualFunc[5]?.id">
            {{characteristicMenstrualFunc[5]?.name }}
          </mat-checkbox>
          <mat-checkbox class="assessment__checkbox" formControlName="painless"
            (change)="handlerSoreness('painless', $event.checked)"
            [value]="characteristicMenstrualFunc[6]?.id">
            {{characteristicMenstrualFunc[6]?.name }}
          </mat-checkbox>
        </div>
      </div>
    </div>
  </div>
</form>
