<div class="card-13y__main-block">
  <div class="card-13y__header">
    <h5 class="card-13y__header-title"
        matTooltip="Номер карты обследования">
      Карта №{{cardInfo?.uniqNum}}
    </h5>
    <div class="card-13y__header-icons">
      <mat-icon svgIcon="history"
                matTooltip="История изменений"
                class="card-13y__header-icon-item __s30"
                (click)="openChangesHistory()">
      </mat-icon>
      <mat-icon svgIcon="info"
                matTooltip="Дополнительная информация"
                class="card-13y__header-icon-item __s29"
                (click)="toggleAdditionalInfo()">
      </mat-icon>
    </div>
  </div>
  <div class="card-13y__menu">
    <p class="card-13y__menu-item"
       *ngFor="let item of menuItems"
       [ngClass]="{'__active': item.key === activeTabKey}"
       (click)="changeTab(item.key)">
      {{item.name}}
    </p>
  </div>
  <div [ngSwitch]="activeTabKey"
       class="card-13y__body-wrapper">
    <app-card-main *ngSwitchCase="'main'"
                   class="__old __card-main">
    </app-card-main>
    <app-card-development-assessment *ngSwitchCase="'development-assessment'"
                                     class="__old">
    </app-card-development-assessment>
    <app-card-health-status *ngSwitchCase="'health-status'"
                            class="__old __health-status">
    </app-card-health-status>
    <app-card-research *ngSwitchCase="'research'"
                       class="__old">
    </app-card-research>
    <app-card-vaccination *ngSwitchCase="'vaccination'"
                          class="__vaccination">
    </app-card-vaccination>
    <app-card-conclusion *ngSwitchCase="'conclusion'"
                         class="__old __conclusion">
    </app-card-conclusion>
  </div>
  <div class="card-13y__buttons">
    <button class="card-13y__buttons-item"
            *ngIf="cardStatus !== 2"
            (click)="saveCard()"
            [ngClass]="{'__disabled': !isTabValid || ((selectedTabInitValuesModified) === selectedTabCurrentValuesModified) || !selectedTabCurrentValues}">
      Сохранить
    </button>
    <button class="card-13y__buttons-item" (click)="exportCard()">Экспорт</button>
    <button class="card-13y__buttons-item"
            (click)="doneCard()"
            [ngClass]="{'__disabled': cardStatus !== 1}">
      Выполнено
    </button>
    <button class="card-13y__buttons-item"
            (click)="blockCard()"
            [ngClass]="{'__disabled': cardStatus === 4}">
      Заблокировать
    </button>
  </div>
</div>
<app-additional-information *ngIf="isAdditionalInfoVisible"
                            [formValues]="cardInfo"
                            [@fadeInOut]>
</app-additional-information>

<ng-container *ngIf="loading">
  <mat-spinner class="spinner"></mat-spinner>
  <div class="modal-over"></div>
</ng-container>
