<h6 mat-dialog-title>Удаление карты</h6>
<mat-dialog-content>Вы уверены, что хотите удалить карту? Данное действие удалит карту без возможности восстановления.</mat-dialog-content>
<mat-dialog-actions align="end">
  <div class="modal-footer">
    <button class="modal-close btn-small waves-effect waves-light green text-primary" [mat-dialog-close]="false">Нет</button>
    <button class="modal-close btn-small waves-effect waves-light green text-primary" [mat-dialog-close]="true">Да</button>
  </div>
</mat-dialog-actions>
