<div class="export-card__main">
  <p class="export-card__title">Экспорт карты обследования</p>
  <mat-form-field floatLabel="auto"
                  class="export-card__form">
    <mat-label>Формат для скачивания</mat-label>
    <mat-select [formControl]="exportControl">
      <mat-option *ngFor="let format of exportCardData"
                  [value]="format">
        {{format}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="export-card__button-block">
  <button mat-dialog-close
          class="export-card__button-item">
    Отмена
  </button>
  <button class="export-card__button-item"
          [ngClass]="{'__disabled': !exportControl.valid}"
          (click)="downloadCard()">
    Скачать
  </button>
</div>

