<form class="__old"
      [formGroup]="healthStatusAfter">
    <div class="add-diagnosis-after__wrapper">
        <p class="add-diagnosis-after__title">Добавить диагноз</p>
        <div class="add-diagnosis-after__almost-healthy">
            <mat-checkbox formControlName="healthGood">
                Практически здоров
            </mat-checkbox>
        </div>
        <div class="add-diagnosis-after__diagnoses"
             formGroupName="diagnoses">
            <div class="add-diagnosis-after__info">
                <div class="add-diagnosis-after__info-block">
                    <mat-form-field floatLabel="auto"
                                    class="add-diagnosis-after__diagnosis-name"
                                    formGroupName="mkb10">
                        <input matInput
                               placeholder="Диагноз"
                               [matAutocomplete]="autoDiagnosis"
                               formControlName="name"
                               required>
                        <mat-autocomplete #autoDiagnosis="matAutocomplete">
                            <mat-option *ngFor="let diagnosis of diagnosisList"
                                        (click)="setControlId(diagnosis, 'mkb10')"
                                        [value]="diagnosis?.name">
                                {{diagnosis?.name}}
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="healthStatusAfter.get('diagnoses').get('mkb10').get('name').invalid">
                            Введите диагноз
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <mat-checkbox formControlName="diagnosisFirst"
                          class="add-diagnosis-after__diagnosis-first-time">
                Диагноз установлен впервые
            </mat-checkbox>

            <div class="add-diagnosis-after__observation"
                 [ngClass]="{'__disabled': isHealthGood}"
                 formGroupName="dispensaryObservation">
                <label class="add-diagnosis-after__observation-title"
                       id="add-diagnosis-after__observation">Диспансерное наблюдение</label>
                <mat-radio-group aria-labelledby="add-diagnosis-after__observation"
                                 class="add-diagnosis-after__observation-block"
                                 formControlName="id">
                    <mat-radio-button *ngFor="let observationItem of dispensaryObservation"
                                      class="add-diagnosis-after__observation-item"
                                      (click)="setControlId(observationItem, 'dispensaryObservation')"
                                      [value]="observationItem.id">
                        {{observationItem.name}}
                    </mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="add-diagnosis-after__treatment">
                <p class="add-diagnosis-after__treatment-title">
                    Лечение назначено
                    <span>*</span>
                </p>
                <div class="add-diagnosis-after__treatment-block">
                    <mat-form-field floatLabel="auto"
                                    class="add-diagnosis-after__treatment-item"
                                    formGroupName="treatmentCondition">
                        <mat-label>Условия оказания медицинской помощи</mat-label>
                        <mat-select formControlName="id"
                                    required>
                            <mat-option *ngFor="let option of treatmentCondition"
                                        (click)="setControlId(option, 'treatmentCondition')"
                                        [value]="option.id">
                                {{option.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field floatLabel="auto"
                                    *ngIf="treatmentConditionOrgVisible"
                                    class="add-diagnosis-after__treatment-item"
                                    formGroupName="treatmentConditionOrg">
                        <mat-label>Выберите тип медицинской организации</mat-label>
                        <mat-select formControlName="id"
                                    required>
                            <mat-option *ngFor="let org of treatmentOrganizationTypes"
                                        (click)="setControlId(org, 'treatmentConditionOrg')"
                                        [value]="org.id">
                                {{org.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div class="add-diagnosis-after__additional">
                <p class="add-diagnosis-after__additional-title">
                    Дополнительные консультации и исследования назначены
                    <span>*</span>
                </p>
                <div class="add-diagnosis-after__additional-block">
                    <mat-form-field floatLabel="auto"
                                    class="add-diagnosis-after__additional-item"
                                    formGroupName="consulNeed">
                        <mat-label>Условия оказания медицинской помощи</mat-label>
                        <mat-select formControlName="id"
                                    required>
                            <mat-option *ngFor="let option of treatmentCondition"
                                        (click)="setControlId(option, 'consulNeed')"
                                        [value]="option.id">
                                {{option.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field floatLabel="auto"
                                    class="add-diagnosis-after__additional-item"
                                    *ngIf="consulNeedOrgVisible"
                                    formGroupName="consulNeedOrg">
                        <mat-label>Выберите тип медицинской организации</mat-label>
                        <mat-select formControlName="id"
                                    required>
                            <mat-option *ngFor="let org of treatmentOrganizationTypes"
                                        (click)="setControlId(org, 'consulNeedOrg')"
                                        [value]="org.id">
                                {{org.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="add-diagnosis-after__additional">
                <p class="add-diagnosis-after__additional-title">
                    Дополнительные консультации и исследования выполнены
                    <span>*</span>
                </p>
                <div class="add-diagnosis-after__additional-block">
                    <mat-form-field floatLabel="auto"
                                    class="add-diagnosis-after__additional-item"
                                    formGroupName="consulDone">
                        <mat-label>Условия оказания медицинской помощи</mat-label>
                        <mat-select formControlName="id"
                                    required>
                            <mat-option *ngFor="let option of treatmentCondition"
                                        (click)="setControlId(option, 'consulDone')"
                                        [value]="option.id">
                                {{option.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field floatLabel="auto"
                                    class="add-diagnosis-after__additional-item"
                                    *ngIf="consulDoneOrgVisible"
                                    formGroupName="consulDoneOrg">
                        <mat-label>Выберите тип медицинской организации</mat-label>
                        <mat-select formControlName="id"
                                    required>
                            <mat-option *ngFor="let org of treatmentOrganizationTypes"
                                        (click)="setControlId(org, 'consulDoneOrg')"
                                        [value]="org.id">
                                {{org.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="add-diagnosis-after__skl">
                <p class="add-diagnosis-after__skl-title">
                    Медицинская реабилитация/санаторно-курортное лечение были назначены
                    <span>*</span>
                </p>
                <div class="add-diagnosis-after__skl-block">
                    <mat-form-field floatLabel="auto"
                                    class="add-diagnosis-after__skl-item"
                                    formGroupName="rehabilNeed">
                        <mat-label>Условия оказания медицинской помощи</mat-label>
                        <mat-select formControlName="id"
                                    required>
                            <mat-option *ngFor="let option of treatmentCondition"
                                        (click)="setControlId(option, 'rehabilNeed')"
                                        [value]="option.id">
                                {{option.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field floatLabel="auto"
                                    *ngIf="rehabilNeedOrgVisible"
                                    class="add-diagnosis-after__skl-item"
                                    formGroupName="rehabilNeedOrg">
                        <mat-label>Выберите тип медицинской организации</mat-label>
                        <mat-select formControlName="id"
                                    required>
                            <mat-option *ngFor="let org of treatmentOrganizationTypes"
                                        (click)="setControlId(org, 'rehabilNeedOrg')"
                                        [value]="org.id">
                                {{org.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="add-diagnosis-after__med-help">
                <p class="add-diagnosis-after__med-help-title">
                    Высокотехнологичная медицинская помощь
                </p>
                <div class="add-diagnosis-after__med-help-block">
                    <p class="add-diagnosis-after__med-help-block-text">Не рекомендована</p>
                    <mat-slide-toggle formControlName="needVmp"></mat-slide-toggle>
                    <p class="add-diagnosis-after__med-help-block-text">Рекомендована</p>
                </div>
            </div>
            <div class="add-diagnosis-after__recommendations">
                <p class="add-diagnosis-after__recommendations-title">
                    Рекомендации
                    <span>*</span>
                </p>
                <textarea matInput
                          formControlName="recommend"
                          class="materialize-textarea add-diagnosis-after__recommendations-textarea"
                          placeholder="Рекомендации по диспансерному наблюдению, лечению, медицинской реабилитации и СКЛ">
                </textarea>
            </div>
        </div>
    </div>
    <div class="add-diagnosis-after__buttons">
        <button class="add-diagnosis-after__buttons-item" mat-dialog-close>Отмена</button>
        <button class="add-diagnosis-after__buttons-item"
                (click)="saveAndClose()"
                [ngClass]="{'__disabled': isSaveDisabled}">
            Сохранить
        </button>
    </div>
</form>
