<div class="row content">

  <div class="z-depth-2 vmp_content col s11 push-s0">
    <h5 style="text-align: center;">Поиск пациента</h5>
    <div class="row">
      <div class="col s12">
        <ul #collapsible class="collapsible">
          <li>
            <div class="collapsible-header">Фильтры</div>
            <div class="collapsible-body">
              <form [formGroup]="filterPatient">
                <div class="row">
                  <div class="col l3 s12">
                    <mat-form-field>
                      <input appValidateInput="name" formControlName="surname" id="last_name" matInput
                             placeholder="Фамилия"
                             type="text">
                    </mat-form-field>
                  </div>
                  <div class="col l3 s12">
                    <mat-form-field>
                      <input appValidateInput="name" formControlName="surname" id="first_name" matInput
                             placeholder="Имя"
                             type="text">
                    </mat-form-field>
                  </div>
                  <div class=" col l3 s12">
                    <mat-form-field>
                      <input appValidateInput="name" formControlName="surname" id="midle_name" matInput
                             placeholder="Отчество"
                             type="text">
                    </mat-form-field>
                  </div>
                  <div class="col l3 s12">
                    <mat-form-field>
                      <input formControlName="snilsNo" id="snils" mask="000-000-000-00" matInput
                             placeholder="СНИЛС"
                             type="text">
                      <mat-error *ngIf="isValid('snilsNo')">
                        Не корректный СНИЛС
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class=" col l3 s12">
                    <app-date-picker-range (onChanged)="onChanged($event)"></app-date-picker-range>
                  </div>
                  <div class="col l3 s12">
                    <mat-form-field>
                      <mat-label>Пол</mat-label>
                      <mat-select formControlName="idVmpSex" id="male">
                        <mat-option [value]="1">Мужской</mat-option>
                        <mat-option [value]="2">Женский</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class=" col l3 s12">
                    <mat-form-field>
                      <mat-label>Возростные группы</mat-label>
                      <mat-select formControlName="ageGroup" id="ageGroup">
                        <mat-option [value]="1">Все</mat-option>
                        <mat-option [value]="2">Дети</mat-option>
                        <mat-option [value]="3">Взрослые</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col l3 s12">
                    <mat-form-field>
                      <input appValidateInput="passportSeries" formControlName="surname" id="seria" matInput
                             placeholder="Серия документа"
                             type="text">
                    </mat-form-field>
                  </div>
                  <div class="col l3 s12">
                    <mat-form-field>
                      <input appValidateInput="passportNumber" formControlName="number" id="number" matInput
                             placeholder="Номер документа"
                             type="text">
                    </mat-form-field>
                  </div>
                </div>
                <div class="divider"></div>
                <div class="section">
                  <h6>Заявка</h6>
                  <div class="row">
                    <div class="col l3 s12">
                      <mat-form-field>
                        <mat-label>Категория льготы пациента</mat-label>
                        <mat-select formControlName="privileges" id="privileges">
                          <mat-option [value]="1">Все</mat-option>
                          <mat-option [value]="2">Не имеет льгот</mat-option>
                          <mat-option [value]="3">Инвалиды войны</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col l3 s12">
                      <mat-form-field>
                        <mat-label>Социальный статус</mat-label>
                        <mat-select formControlName="socialStatus" id="socialStatus">
                          <mat-option [value]="1">Все</mat-option>
                          <mat-option [value]="2">1 - Дошкольник</mat-option>
                          <mat-option [value]="3">1.1 - Дети-сироты</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <div class="divider"></div>
                <div class="section">
                  <h6>Отображение</h6>
                  <div class="row">
                    <div class="col l3 s12">
                      <mat-form-field>
                        <mat-label>Колонки для отображения</mat-label>
                        <mat-select formControlName="privileges" id="speakers">
                          <mat-option [value]="1">ФИО</mat-option>
                          <mat-option [value]="2">СНИЛС</mat-option>
                          <mat-option [value]="3">Инвалиды войны</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col l3 s12">
                      <mat-form-field>
                        <mat-label>Записей на странице</mat-label>
                        <mat-select formControlName="records" id="records">
                          <mat-option [value]="1">Все</mat-option>
                          <mat-option [value]="2">1 - Дошкольник</mat-option>
                          <mat-option [value]="3">1.1 - Дети-сироты</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                <div class="row">
                  <button (click)="searchPatient()" [disabled]="!filterPatient.valid" class=" btn-small green"
                          mat-button>Найти
                  </button>
                  <a class=" btn-small green" href="#export" mat-button>Экспорт</a>
                  <a (click)="clearSearch()" class="btn-small green" mat-button>Очистить</a>
                </div>
              </form>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <pagination-template #p="paginationApi"
                         (pageChange)="config.currentPage = $event"
                         [id]="config.id">
      <ul class="pagination center">

        <li [class.disabled]="p.isFirstPage()" class="waves-effect">
          <a (click)="p.previous()" *ngIf="!p.isFirstPage()"><i class="material-icons">chevron_left</i></a>
        </li>

        <li *ngFor="let page of p.pages" [class.current]="p.getCurrent() === page.value">
          <a (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value">
            <span>{{ page.label }}</span>
          </a>
          <a *ngIf="p.getCurrent() === page.value">
            <span>{{ page.label }}</span>
          </a>
        </li>

        <li [class.disabled]="p.isLastPage()" class="waves-effect">
          <a (click)="p.next()" *ngIf="!p.isLastPage()"> <i class="material-icons">chevron_right</i></a>
        </li>
      </ul>

    </pagination-template>
    <div class="row">
      <div class="col s12">
        <table class="responsive-table">
          <thead>
          <tr>
            <th>Идентификатор</th>
            <th>ФИО</th>
            <th>СНИЛС</th>
            <th>Дата рождения</th>
            <th>Талоны</th>
          </tr>
          </thead>

          <tbody>
          <tr *ngFor="let item of patientResult | paginate :config">
            <td>{{item.id}}</td>
            <td><a href="#to_card">{{item.surname}} {{item.name}} {{item.patronymic}}</a></td>
            <td>{{item.snils | snils}}</td>
            <td>{{item.birthdate | date : 'dd.MM.yyyy'}}</td>
            <td *ngFor="let talon of item.talons">
              <a href="#to_talon">{{talon.uniqNumber}}, Код МУ: 1229, Вид: 01.00.1.001</a>
              <br>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <pagination-template #p="paginationApi"
                         (pageChange)="config.currentPage = $event"
                         [id]="config.id">
      <ul class="pagination center">

        <li [class.disabled]="p.isFirstPage()" class="waves-effect">
          <a (click)="p.previous()" *ngIf="!p.isFirstPage()"><i class="material-icons">chevron_left</i></a>
        </li>

        <li *ngFor="let page of p.pages" [class.current]="p.getCurrent() === page.value">
          <a (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value">
            <span>{{ page.label }}</span>
          </a>
          <a *ngIf="p.getCurrent() === page.value">
            <span>{{ page.label }}</span>
          </a>
        </li>

        <li [class.disabled]="p.isLastPage()" class="waves-effect">
          <a (click)="p.next()" *ngIf="!p.isLastPage()"> <i class="material-icons">chevron_right</i></a>
        </li>
      </ul>

    </pagination-template>
    <div class="row">
      <div class="col s12">
        <a class="modal-trigger waves-effect waves-light btn-small green" href="#export">Экспорт</a>
        <a class="dropdown-trigger tooltipped btn-floating btn-small waves-effect waves-light green right"
           data-position="top" data-target='help' data-tooltip="Статус талона"><i
          class="material-icons">priority_high</i></a>
        <div *ngIf="patientResult" class="right" style="margin: 5px 5px 0 0;"><b>{{patientResult.length}} пациентов</b>
        </div>
      </div>
    </div>
  </div>
</div>
