<form class="conclusion__form-wrapper"
      [formGroup]="conclusionForm">
    <div class="conclusion__section conclusion__no-border-top"
         *ngIf="doctorsForExaminations">
        <p class="conclusion__title">Осмотры врачей</p>
        <div class="conclusion__field-block">
            <div *ngFor="let doctor of doctorsForExaminations; let i = index"
                 formArrayName="doctorExaminations"
                 class="conclusion__field-block-doctors">
                {{doctor.name}}
                <mat-form-field floatLabel="auto"
                                class="conclusion__date-field">
                    <input matInput
                           matTooltip="Допустимый интервал: от даты рождения ребенка до текущей даты"
                           [matDatepicker]="ii"
                           placeholder="Дата осмотра"
                           [formControl]="doctorExaminations.controls[i].controls.date"
                           [max]="maxDate"
                           autocomplete="off"
                           (click)="openDatepicker(ii)"
                           required>
                    <mat-error
                            *ngIf="doctorExaminations.controls[i].controls.date.invalid">
                        Выберите дату
                    </mat-error>
                    <mat-datepicker class="__mainbar-header" #ii></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
    </div>

    <div class="conclusion__section"
         formGroupName="opinionForm">
        <p class="conclusion__title">Заключение</p>
        <div class="conclusion__field-block">
            <div class="conclusion__field-block-opinion">
                <div class="conclusion__health-group">
                    <mat-form-field floatLabel="auto"
                                    class="conclusion__input-field">
                        <mat-label id="health-group-label">Группа здоровья</mat-label>
                        <mat-select formControlName="healthGroup"
                                    aria-labelledby="health-group-label"
                                    required>
                            <mat-option *ngFor="let group of healthGroup"
                                        [value]="group.id">
                                {{group.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div class="conclusion__date">
                        <mat-form-field floatLabel="auto"
                                        class="conclusion__date-field">
                            <input matInput
                                   [matDatepicker]="datepickerDate"
                                   placeholder="Дата заключения"
                                   formControlName="date"
                                   matTooltip="Допустимый интервал: от даты начала обследования до текущей даты"
                                   [max]="maxDate"
                                   autocomplete="off"
                                   (click)="openDatepicker(datepickerDate)"
                                   required>
                            <mat-error
                                    *ngIf="cardThirteenYService.getControls(conclusionForm, 'opinionForm').date.invalid">
                                Выберите дату
                            </mat-error>
                            <mat-datepicker class="__mainbar-header" #datepickerDate></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
                <mat-form-field floatLabel="auto"
                                class="conclusion__input-field">
                    <input matInput
                           placeholder="Лицо, давшее заключение. Начните вводить ФИО врача"
                           formControlName="doctor"
                           required>
                </mat-form-field>
                <mat-form-field floatLabel="auto"
                                class="conclusion__input-field">
                    <input matInput
                           placeholder="Рекомендации по формированию здорового образа жизни, режиму дня,
                              питанию, физическому развитию, иммунопрофилактике, занятиям физической культурой"
                           formControlName="recommendation"
                           required>
                </mat-form-field>
                <div class="conclusion__exam-failed-chbox">
                    <mat-checkbox #medicalExamination
                                  formControlName="medicalExamination">
                        Диспансеризация не выполнена
                    </mat-checkbox>
                </div>
                <div class="conclusion__reasons">
                    <mat-form-field floatLabel="auto"
                                    class="conclusion__input-field">
                        <mat-label id="missedReasons-label">Выберите причину невыполнения</mat-label>
                        <mat-select formControlName="missedReasons"
                                    #missedReason
                                    aria-labelledby="missedReasons-label"
                                    (selectionChange)="isDisabledMissedReasons($event)"
                                    required="medicalExamination.checked">
                            <mat-option *ngFor="let reason of missedReasons"
                                        [value]="reason.id">
                                {{reason.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field floatLabel="auto"
                                    class="conclusion__input-field">
                        <mat-label id="absence-label">Выберите причину отсутствия</mat-label>
                        <mat-select formControlName="absence"
                                    aria-labelledby="absence-label"
                                    required="missedReason.source.value === 1">
                            <mat-option *ngFor="let reason of absenceReasons"
                                        [value]="reason.id">
                                {{reason.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <mat-form-field floatLabel="auto"
                                class="conclusion__input-field">
          <textarea matInput
                    placeholder="Укажите иную причину"
                    formControlName="nonExecutionTextarea"
                    cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="1"
                    required>
          </textarea>
                </mat-form-field>
            </div>
        </div>
    </div>
</form>
