@import "variables";
@import "scroll-bar";
@import "components/icon";
@import "components/datepicker";
@import "components/bottom-sheet";
@import "components/slide-toggle";
@import "components/input";
@import "components/tooltip";
@import "components/dialog";
@import "components/form-field";
@import "components/radio-button";
@import "components/expansion-panel";
@import "components/checkbox";
@import "components/snack-bar";

p, h3, h5 {
  margin: 0;
}

.cdk-global-overlay-wrapper {
  align-items: center !important;
}

.cdk-overlay-backdrop {
  background: rgba(#000000, .6);
  cursor: pointer;
}
