$light-green: #1b9881;
$dark-green: #167b68;
$gray: #b0bec5;
$light-gray: #e0e0e0;
$white: #ffffff;
$light-gray: #e0e0e0;


$header-height: 64px;
$footer-height: 80px;
$sidebar-width: 300px;
$notification-chat-header-height: 70px;
